<div class="left-menu">
  <ng-container
    *ngFor="let navigationItem of navigationItems; index as index"
    [ngTemplateOutlet]="leftMenuItem"
    [ngTemplateOutletContext]="{
      navigationItem: navigationItem,
      index: index
    }"
  >
  </ng-container>
</div>

<ng-template
  #leftMenuItem
  let-navigationItem="navigationItem"
  let-index="index"
>
  <div class="left-menu__item"
       [ngClass]="{'left-menu__item--active': navigationItem.active}"
  >
    <a
      class="left-menu__item--link"
      [routerLink]="navigationItem.url"
      [routerLinkActive]="navigationItem.url"
    >
      <div class="left-menu__item--decorator"
           [ngClass]="{'left-menu__item--decorator--active': navigationItem.active}"
      >
      </div>
      <div class="left-menu__item--container">
        <mat-icon class="left-menu__item--icon">{{navigationItem.type | matIcon }}</mat-icon>
        <span class="left-menu__item--name">{{navigationItem.name | transloco }}</span>
      </div>
    </a>
  </div>
</ng-template>
