//colors
$font-color-on-dark-bg: var(--font-color-on-dark-bg);
$font-color-on-light-bg: var(--font-color-on-light-bg);
$light-font-color-on-light-bg: var(--light-font-color-on-light-bg);
$dark-font-color-on-dark-bg: var(--dark-font-color-on-dark-bg);


$primary-theme-color: var(--primary-theme-color);
$secondary-theme-color: var(--secondary-theme-color);
$secondary-theme-heighlight-color: var(--secondary-theme-heighlight-color);
$material-grey: var(--material-grey);
$material-dark-grey: var(--material-dark-grey);
$shadow: var(--shadow);


//responsive breakpoints
$bp-largest: 75em;

//structures
$content-padding: 2rem;
