//colors
$font-color-on-dark-bg: var(--font-color-on-dark-bg);
$font-color-on-light-bg: var(--font-color-on-light-bg);
$light-font-color-on-light-bg: var(--light-font-color-on-light-bg);
$dark-font-color-on-dark-bg: var(--dark-font-color-on-dark-bg);

$material-grey: var(--material-grey);
$shadow: var(--shadow);


//responsive breakpoints
$bp-largest: 75em;
